<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @{if (TempData["Success"] != null)
            {
                <p style="color:green">@TempData["Success"]</p>
            }
     }
     @model IEnumerable<Employee>
     <h2>
         @ViewBag.Company
     </h2>
     <p>@ViewData["Location"]</p
        @if (TempData["Message"]!=null)
        {
            <p>@TempData["Message"]</p>
        }


        <table class="table table-dark" border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th

            </tr>
            @foreach(var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Department</td>
                    <td>@emp.Phone</td>

                </tr>
            }
        </table>

        <button class="btn btn-success">Submit</button>


       
    </body>
</html>
