@model IEnumerable<Student>
<h2>Student List</h2>

@Html.ActionLink("Create New Student", "Create") | 

<table border="1">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Age</th>
		<th>Gender</th>
		<th>Department</th>
		<th>Action</th>
	</tr>
	@foreach (var student in Model)
	{
		<tr>
			<td>@student.Name</td>
			<td>@student.Email</td>
			<td>@student.Age</td>
			<td>@student.Gender</td>
			<td>@student.Department.DepartmentName</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = student.StudentId }) |
				@Html.ActionLink("Details", "Details", new { id = student.StudentId }) |
				@Html.ActionLink("Delete", "Delete", new { id = student.StudentId })
			</td>
		</tr>

	}
</table>