@model IEnumerable<StudentManagementSystem.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2 class="mb-4">Departments</h2>

<a asp-action="Create" class="btn btn-primary mb-3">
    Add Department
</a>

<table class="table table-striped table-bordered">

    <thead class="table-dark">

        <tr>
            <th>Department Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

        @if (Model.Any())
        {
            @foreach (var dept in Model)
            {

                <tr>

                    <td>@dept.DepartmentName</td>

                    <td>@dept.Location</td>

                    <td>

                        <a asp-action="Details"
                               asp-route-id="@dept.DepartmentId"
                               class="btn btn-info btn-sm">
                            Details
                        </a>

                        <a asp-action="Edit"
                               asp-route-id="@dept.DepartmentId"
                               class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a asp-action="Delete"
                               asp-route-id="@dept.DepartmentId"
                               class="btn btn-danger btn-sm">
                            Delete
                        </a>

                        <a asp-action="StudentsByDepartment"
                               asp-route-id="@dept.DepartmentId"
                               class="btn btn-success btn-sm">
                            Students
                        </a>

                    </td>

                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center text-danger">
                    No Departments Found
                </td>
            </tr>
        }

    </tbody>

</table>